# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\coding\Python分布式爬虫\ArticleSpiderC\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
